@font-face {
  font-family: "iconfont"; /* Project id 3668205 */
  src: url('iconfont.woff2?t=1665545231342') format('woff2'),
       url('iconfont.woff?t=1665545231342') format('woff'),
       url('iconfont.ttf?t=1665545231342') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangcun:before {
  content: "\e61c";
}

.icon-yuanqu:before {
  content: "\e658";
}

.icon-gongchang:before {
  content: "\e6aa";
}

.icon-lvyou:before {
  content: "\e657";
}

.icon-jiaotong:before {
  content: "\e61e";
}

.icon-qiyeyuanquwuye-xianxing:before {
  content: "\e894";
}

.icon-gengduo:before {
  content: "\e604";
}

.icon-shequ:before {
  content: "\e663";
}

